{% extends "base.html" %}

{% block content %}
<div class="container my-4">
    <h2>Plane departures</h2>
    <div class="row">
        {% for booking in object_list %}
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">{{ booking.plane.name }}</h5>
                    <p class="card-text">
                        <strong>Plane Capacity:</strong> {{ booking.plane.capacity }}<br>
                        <strong>Departure:</strong> {{ booking.departure|date:"F j, Y, g:i a" }}<br>
                        <strong>Available Slots:</strong> {{ booking.available_slots }}
                    </p>
                    {% if booking.id in booked_slots %}
                        <a href="{% url 'plane_detail' booking.slug %}" class="btn btn-secondary">Update Booking</a>
                    {% else %}
                        <a href="{% url 'plane_detail' booking.slug %}" class="btn btn-primary">Book Now</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Pagination Controls -->
    <div class="row justify-content-center">
        <div class="col-auto">
          <div class="pagination">
            <span class="step-links">
              {% if page_obj.has_previous %}
                <a href="{% url 'experienced' %}?page=1">&laquo; first</a>
                <a href="{% url 'experienced' %}?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
              <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
              </span>
              {% if page_obj.has_next %}
                <a href="{% url 'experienced' %}?page={{ page_obj.next_page_number }}">next</a>
                <a href="{% url 'experienced' %}?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
            </span>
          </div>
        </div>
    </div>
</div>
{% endblock %}
