html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.navbar {
    height: 170px; /* Adjust the height to your desired value */
}

.navbar-brand img {
    height: 150px
}

.nav-link {
    font-size: large;
    color: white;
    line-height: 100px;
    font-weight: bold;
}

.nav-link:hover {
    color: #dc1c84;
}

main {
    flex: 1;
}

footer {
    flex-shrink: 0;
    padding: 1rem 0;
    background-color: #343a40;
    color: white;
}

/* Hero image styles */
.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}

.hero-content {
    z-index: 2;
}

.hero-content h1 {
    font-size: 3.5rem;  
    line-height: 1.2;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.hero-content p {
    font-size: 1.5rem; 
    margin-bottom: 1.5rem;
}

.hero .btn {
    font-size: 1.25rem;
    padding: 0.75rem 1.5rem;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.hero .btn:hover {
    background-color: #007bb5; 
}

/* .hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); 
} */

.hero-card {
    border: none; 
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9); 
}

.card h2 {
    font-size: 1.75rem;
    color: #333; 
}

/* home page image links */
/* Ensure the image-wrapper takes full width */
.image-wrapper {
    position: relative;
    display: block;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.image-wrapper img {
    width: 100%;
    height: auto;
    display: block;
}

.text-overlay {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
}

.image-wrapper:hover {
    transform: scale(1.05);
}

.image-background {
    background-color: #dc1c84;
    width: 100%;
}




