/* Make the entire page a flex container */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Make the main content take up the remaining space */
main {
    flex: 1;
}

/* Ensure the footer is at the bottom */
footer {
    flex-shrink: 0;
}

/* Optional: Give some padding to the footer to avoid sticking to the bottom of the viewport */
footer {
    padding: 1rem 0;
    background-color: #343a40;
    color: white;
}

.hero {
    position: relative;
    color: white;
  }
  
  .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Adjust the overlay color and opacity as needed */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  