{% extends "base.html" %}
{% load static %}

{% block content %}
  <!-- Hero Section -->
  <section class="hero bg-light py-5" style="background-image: url('{% static 'images/exit shot 3.webp' %}'); background-size: cover; background-position: center; height: 70vh;">

    <div class="hero-content">
      <h1 class="display-4 mb-4 fw-bold">Ready to take the leap!</h1>
      <p>Book your Skydiving course here!</p>

    </div>
  </section>

  
  <div class="container">
    <h2 class="text-center my-4">Available AFF Courses</h2>
    
    <div class="row justify-content-center">
      {% for course in courses %}
      <div class="col-md-4 col-lg-3 mb-4">
        <div class="card shadow-sm">
          <div class="card-body text-center">
            <h3>AFF Course on {{ course.date }}</h3>
            <p>Available Slots: {{ course.available_slots }}</p>
            <a href="{% url 'courses:course_visitor_details' course.id %}" class="btn btn-primary">Book Now</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="row justify-content-center mb-5">
      <div class="col-auto">
        <div class="pagination">
          <span class="step-links">
            {% if page_obj.has_previous %}
              <a href="{% url 'courses:list_courses' %}?page=1">&laquo; first</a>
              <a href="{% url 'courses:list_courses' %}?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
            {% if page_obj.has_next %}
              <a href="{% url 'courses:list_courses' %}?page={{ page_obj.next_page_number }}">next</a>
              <a href="{% url 'courses:list_courses' %}?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
          </span>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
