{% load static %}

{% url 'home' as home_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- Navigation -->
    <nav>
        {% if user.is_authenticated %}
            <li class="">
                <a class="" aria-current="page" href="{% url 'account_logout' %}">Logout</a>
            </li>
        {% else %}
            <li class="">
                <a class="" aria-current="page"
                    href="{% url 'account_signup' %}">Register</a>
            </li>
            <li class="">
                <a class="" aria-current="page" href="{% url 'account_login' %}">Login</a>
            </li>
        {% endif %}
    </nav>

    <main>

        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}

    </main>
     

    <!-- Footer -->
    <footer>

    </footer>
    <script src="{% static 'js/script.js' %}"></script>

</body>
</html>