{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card shadow-sm border-light">
        <div class="card-body">
          <h2 class="text-center mb-4">Contact Us</h2>
          <div class="mb-4">
            <h5 class="text-uppercase mb-3 font-weight-bold">Address</h5>
            <p class="mb-1">Skydiving Center</p>
            <p class="mb-1">Worthy Road</p>
            <p class="mb-1">Nottingham</p>
            <p class="mb-1">NG13 9KY</p>
          </div>
          <div class="mb-4">
            <h5 class="text-uppercase mb-3 font-weight-bold">Phone Number</h5>
            <p class="mb-0">(123) 456-7890</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
